@import '../../styles/colors.scss';

.button {
    border: none;
    background-color: $color-button;
    border-radius: 30px;
    padding: 20px 40px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    margin-top: 32px;

    &--open-modal-btn {
        margin-top: 0;
    }
}
