.swiper {
    position: static;

    &__wrapper {
        height: 100%;
    }

    &__slide-content {
        background-color: blueviolet;
        height: 100%;
        width: 100%;
    }
}

.swiper-button-next,
.swiper-button-prev {
    margin: 0 5vw;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: white;
    border: none;
    color: #3877ee;
    font-size: 24px;
    box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
