mixin swiper
    .swiper&attributes(attributes)
        div.swiper-wrapper.swiper__wrapper
            div.swiper-slide
                div.swiper__slide-content
            div.swiper-slide.card
                div.swiper__slide-content
            div.swiper-slide.card
                div.swiper__slide-content
        button.swiper-button-next 
        button.swiper-button-prev 