mixin counter(props)
    .counter&attributes(attributes)
        button.counter__button.counter__button-prev -
        input(readonly).counter__value(value = props && props.count || 0).modal-value-counter
        button.counter__button.counter__button-next +
