mixin counter(props)
    .counter&attributes(attributes)
        button.counter__button.counter__button-prev -
        input.counter__value(value=props && props.count || 0)
        button.counter__button.counter__button-next +
        // .counter__clicks 0
