include ../button/button

mixin main(props)
    .main&attributes(attributes)
        p.main__text Значение счётчика на активном слайде:
        p.main__counter 0
        +button('Открыть')(class='button--open-modal-btn')