extends ../../layouts/base
include ../../components/main/main
include ../../components/counter/counter
include ../../components/swiper/swiper

block head
    title Home

block content
    main(data-barba="container" data-barba-namespace="index").index
        // +svg('code').index__icon
        //.slider
            +swiper
        //+counter
        +main 

