extends ../../layouts/base
include ../../components/main/main
include ../../components/counter/counter
include ../../components/swiper/swiper
include ../../components/modal/modal

block head
    title Home

block content
    main(data-barba="container" data-barba-namespace="index").index
        +main
        +modal

