.index {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__icon {
    width: 80px;
    height: 80px;
    color: #afafaf;
    margin-bottom: 20px;
  }
}
