extends ../../layouts/base
include ../../components/counter/counter

block head
    title Home

block content
    main(data-barba="container" data-barba-namespace="index").index
        +svg('code').index__icon
        +counter
