mixin header
    header.header
        .header__wrapper
            a.header__link(href="/" data-namespace="index") Home
            a.header__link(href="/company.html" data-namespace="company") Company
