include link/link

mixin header
    header.header
        .header__wrapper
            +link({ title: 'Home', namespace: "index" })
            +link({ title: 'Company', namespace: "company" })
            +link({ title: 'Test', namespace: "test" })

