include ../common/pug/mixins

html
    head
        block head
            title Vanilla Boilerplate
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='keywords', content='test vanilla boilerplate')
    body(data-barba="wrapper")
        block content
